@model IEnumerable<Case_study.Models.Flight>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@if (Model.Count() > 0)
{
<table class="table"> 
    <tr> 
    <th>
        @Html.DisplayNameFor(model => model.source) 
    </th> 
    <th> @Html.DisplayNameFor(model => model.destination) </th> 
    <th> @Html.DisplayNameFor(model => model.Airplane) </th>
    <th> @Html.DisplayNameFor(model => model.departure) </th> 
    <th> @Html.DisplayNameFor(model => model.type) </th> 
    <th> @Html.DisplayNameFor(model => model.price) </th> 
    <th></th> 
        </tr> 
    @foreach (var item in Model)
    {
        <tr> 
    <td> @Html.DisplayFor(modelItem => item.source) </td>
    <td> @Html.DisplayFor(modelItem => item.destination) </td> 
    <td> @Html.DisplayFor(modelItem => item.Airplane) </td> 
    <td> @Html.DisplayFor(modelItem => item.departure) </td> 
    <td> @Html.DisplayFor(modelItem => item.type) </td> 
    <td> @Html.DisplayFor(modelItem => item.price) </td> 
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <td> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) | @Html.ActionLink("Delete", "Delete", new { id = item.Id }) </td>
    }
    else
    {
        <td> @Html.ActionLink("Details", "Details", new { id = item.Id }) </td>
    } 
            </tr>
    }


 
</table>
}
else
{
    <h3>No Flights Are available</h3>
}

